<!--checks if user is logged in and if they aren't it displays
    some information about our app and provides a link that
directs them to the oauth spotify log in page-->

<!DOCTYPE html>
<html>
<head>
<title> Play the Weather </title>
<style>
body {
  background-color: black;
}

h1 {
  font-family: "Gotham Circular";
  color: white;
  font-size: 40px;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>
  <img src="ptw_logo.jpg"  width="150"> 
  <br> Play the Weather
</h1>
<p> Hi! Welcome to Play the Weather, an app that can generate a playlist based on the weather at your location. Simply log in with your Spotify account, let us know where you are, and we will take care of the rest! </p>

</body>
</html>