<!--idk what settings we need to have yet other than log out-->
<!DOCTYPE html>
<html>
<head>
<title> Play the Weather </title>
<style>
body {
  background-color: black;
}

h1 {
  font-family: "Gotham Circular";
  color: white;
  font-size: 40px;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
  margin: 1% 20%;
}

.logout {
  font-family: "Times New Roman";
  font-size: 15px;
  color: red;
}
</style>
</head>
<body>

<h1>
  <img src="ptw_logo.jpg"  width="150"> 
  <br> Settings
</h1>
<p>
    <button class="logout">Log out</button>
</p>
</body>
</html>