<!--this will just be similar to the beautiful zipcode page maria uploaded except i think it should
ask the user if the zipcode we have stored for them in our database they want to use again or enter a
new one and if they haven't entered one before just give them the option to enter one-->
<!-- this is of course just my (amelia's) idea on how we could do it, if u have a better way i would love to do it y'alls
way-->
<!--i supposed a link to the settings page should also be available on this page?-->