<!DOCTYPE html>
<html>
<head>
<title> Play the Weather </title>
<style>
body {
  background-color: black;
}

h1 {
  font-family: "Gotham Circular";
  color: white;
  font-size: 40px;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
  margin: 10px 250px;
}
</style>
</head>
<body>

<h1>
  <img src="ptw_logo.jpg"  width="150"> 
  <br> Play the Weather
</h1>
<p>
<label for="zipcode">Enter your Zipcode:</label>
  <form method="POST" action="zip"> <!-- change from foo-route to "{% url 'zip' %}" maybe? idk how to input the zipcode into the view-->
    {% csrf_token %}
  <input type="text" id="zipcode" name="zipcode" value = {{request.form.zipcode}} required minlength="5" maxlength="5" size="7">
   <button type="submit"> Submit</button>
</form>
</p>

</body>
</html>
